@import "tailwindcss";
@source "./**/*.{html,js,ts,jsx,tsx}";

@font-face {
  font-family: "Pilowlava";
  src: url("./assets/fonts/Pilowlava-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}